API_URL=https://combustivelapi.com.br/api/precos/
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=recopslog
DATABASE_USER=admin
DATABASE_PASSWORD=changeme
DATABASE_CONNECT_TIMEOUT=10
COLLECTOR_INTERVAL_SECONDS=3600
API_REQUEST_TIMEOUT_SECONDS=20
STARTUP_RETRY_ATTEMPTS=30
STARTUP_RETRY_DELAY_SECONDS=5
